.guild-tabard
    canvas#guild-tabard(width="240" height="240" data-ring='horde' data-bg=@guild.background_colour_id data-icon=@guild.icon data-icon-colour=@guild.icon_colour_id data-border=@guild.border data-border-colour=@guild.border_colour_id)
    .guild-tabard-default.tabard-horde