// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.c {
  font-family: arial;
  text-shadow: black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px;
  letter-spacing: 2px;
}

.c1 {
  color: #C79C6E;
}
.c2 {
  color: #F58CBA;
}
.c3 {
  color: #ABD473;
}
.c4 {
  color: #FFF569;
}
.c5 {
  color: #FFFFFF;
}
.c6 {
  color: #C41F3B;
}
.c7 {
  color: #0070DE;
}
.c8 {
  color: #69CCF0;
}
.c9 {
  color: #9482C9;
}
.c10 {
  color: #00FF96;
}
.c11 {
  color: #FF7D0A;
}
.c12 {
  color: #A330C9;
}

.wow-icon {
  border: black solid 1px;
  height: 30px;
}

.guild-name {
    font-size: 30px;
    font-weight: bold;
    color: black;
    line-height: 1.1em;
}

.guild-side {
    font-size: 16px;
    letter-spacing: normal;
}

.gradient{
  background-image: -webkit-gradient(
	linear,
	left top, left bottom,
	from(rgba(0, 0, 0, 1)),
	to(rgba(0, 0, 0, 0.5))
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.horde {
  color: #b30000;
}

.alliance {
  color: #0078ff;
}

.guild-realm {
    color: #c09a67;
    margin-top: 5px;
    font-weight: normal;
    letter-spacing: normal;
    font-size: 16px;
}

.carousel-control {
  width: 40px !important;
  color: #AAA !important;
  background-image: none !important;
}

.carousel {
  margin-bottom: 30px;
}

.carousel-inner > .item {
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;
}
